<table>
    <tr>
        <td><img src="{{site.baseurl}}//https://i.ytimg.com/vi/2_rXHox_J0I/maxresdefault.jpg" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/gallery">Gallery/a></td>
        <td><a href="{{site.baseurl}}/science">Science</a></td>
        <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Grades</a></td>
        <td><a href="{{site.baseurl}}/about">About</a></td>
        <td><a href="{{site.baseurl}}/table">Table</a></td>
        <td><a href="{{site.baseurl}}/notes">Notes</a></td>
        <td><a href="https://www.google.com/search?q=snake+game&rlz=1C1SQJL_enUS1019US1019&oq=snake+game&aqs=chrome.0.0i271j46i512j0i433i512j0i131i433i512l2j0i433i512j46i512j0i512l3.5312j0j7&sourceid=chrome&ie=UTF-8">Snake</a></td>
    </tr>
</table>
